<div class="container">
    <div class="input">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="username">username</label>
                <input required id="username" type="string" formControlName="username" class="form-control" [(ngModel)]="username">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input required id="password" type="password" formControlName="password" class="form-control" [(ngModel)]="password">
            </div>
            <div class="center">
                <button class="btn btn-dark login-btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

